<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <p>This expess app uses two different APIs to first get the latitude and longitude of the location entered and then uses weather stack API to get the current weather. Search results may fail if a invalid symbol is entered in the search box. Enter full city name for most accurate results . If the app has stopped working for some reason or you have some suggestion for further improvements feel free to contact me through email (available in the about me page) </p>
  </div>
    {{>footer}}
  </body>
</html>
