<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get weather</p>
      <form class="" action="index.html" method="post">
        <input type="text" name="" placeholder="Location..">
        <button type="button" name="button">Search</button>

      </form>

      <p id="msg1"></p>
      <p id="msg2"></p>
    </div>
  {{>footer}}

  <script src="/js/script.js" charset="utf-8"></script>

  </body>
</html>
